#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wheel {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
#pointer {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: translate(-50%, -50%);
}
